.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2rem;
}

.App-header a {
  color: #61dafb;
}

.App-header ul {
  text-align: left;
  font-size: 1rem;
  line-height: 1.8;
}

.App-header h1 {
  margin: 0;
  font-size: 3rem;
}

.App-header h2 {
  font-size: 1.5rem;
  color: #61dafb;
}

.App-header h3 {
  font-size: 1.2rem;
  margin-top: 1rem;
}
